/*
 *  LilyPad (Czech resources)
 *
 *  Copyright 1997,98 Marcel Baur
 *  Proofread 1998 by David Lee Lambert
 *  Copyright 2002 Sylvain Petreolle
 *  Copyright 2004 David Kredba
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Suite 500, Boston, MA 02110-1335, USA
 */

LANGUAGE LANG_CZECH, SUBLANG_DEFAULT

MAIN_MENU MENU
{
 POPUP "&Soubor" {
  MENUITEM "&Nový...",           CMD_NEW
  MENUITEM "&Otevøít\tCtrl+O",     CMD_OPEN
  MENUITEM "&Ulo¾it\tCtrl+S",     CMD_SAVE
  MENUITEM "Ulo¾it j&ako...",       CMD_SAVE_AS
  MENUITEM SEPARATOR
  MENUITEM "&Tisk",            CMD_PRINT
  MENUITEM "Nas&tavení stránky...",    CMD_PAGE_SETUP
  MENUITEM SEPARATOR
  MENUITEM "&Konec",             CMD_EXIT
 }
POPUP "U&pravit" {
  MENUITEM "&Zpìt\tCtrl+Z",     CMD_UNDO
  MENUITEM SEPARATOR
  MENUITEM "Vyjmou&t\tCtrl+X",      CMD_CUT
  MENUITEM "&Kopírovat\tCtrl+C",     CMD_COPY
  MENUITEM "&Vlo¾it\tCtrl+V",    CMD_PASTE
  MENUITEM "&Smazat\tDel",      CMD_DELETE
  MENUITEM SEPARATOR
  MENUITEM "Vybrat v¹&e\tCtrl+A",       CMD_SELECT_ALL
  MENUITEM "È&as/Datum\tF5",    CMD_TIME_DATE
  MENUITEM SEPARATOR
  MENUITEM "Zalo&mit dlouhé øádky",  CMD_WRAP
  MENUITEM "&Písmo...",          CMD_FONT
 }
POPUP "&Hledání" {
  MENUITEM "&Hledej\tCtrl+F",   CMD_SEARCH
  MENUITEM "&Najdi dal¹í\tF3",  CMD_SEARCH_NEXT
 }
POPUP "&Nápovìda" {
  MENUITEM "&About LilyPad...", CMD_HELP_ABOUT_LILYPAD
 }
}

STRINGTABLE DISCARDABLE
{
STRING_LILYPAD, "LilyPad"
STRING_ERROR,                                   "CHYBA"
STRING_WARNING,                                 "VAROVÁNÍ"
STRING_INFO,                                    "Informace"

STRING_UNTITLED,                                "(bez názvu)"

STRING_ALL_FILES,                               "V¹echny soubory (*.*)"
STRING_LILYPOND_FILES_LY,                  "LilyPondové soubory (*.ly)"

STRING_TOOLARGE,                                "Soubor '%s' je pro lilypad pøíli¹ velký.\n \
Pou¾ijte jiný editor, prosím."
STRING_NOTEXT,                                  "Nebyl zadán ¾ádný LilyPond. \
\nPlease type something and try again"
STRING_DOESNOTEXIST,                            "Soubor '%s'\nneexistuje.\n\n \
Chcete ho vytvoøit ?"
STRING_NOTSAVED,                                "Soubor '%s'\nbyl zmìnìn.\n\n \
Chcete ulo¾it zmìny ?"
STRING_NOTFOUND,                                        "'%s' nebyl nalezen."
STRING_OUT_OF_MEMORY,                   "Není dost pamìti na dokonèení této úlohy. \
\nUzavøete jednu èi více aplikací abyste získali více  \nvolné \
pamìti."

}
