/*
 *  LilyPad (Danish resources)
 *
 *  Copyright 1998 Henrik Olsen <henrik@iaeste.dk>
 *  Copyright 2002 Sylvain Petreolle <spetreolle@yahoo.fr>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Suite 500, Boston, MA 02110-1335, USA
 */

/* UTF-8 */
#pragma code_page(65001)

LANGUAGE LANG_DANISH, SUBLANG_DEFAULT

MAIN_MENU MENU
{
 POPUP "&Filef" {
  MENUITEM "&Ny...",            CMD_NEW
  MENUITEM "Å&bn\tEnter",       CMD_OPEN
  MENUITEM "&Gem",              CMD_SAVE
  MENUITEM "Gem so&m...",       CMD_SAVE_AS
  MENUITEM SEPARATOR
  MENUITEM "&Udskriv",          CMD_PRINT
  MENUITEM "Side&opsætning...", CMD_PAGE_SETUP
  MENUITEM SEPARATOR
  MENUITEM "&Afslut",           CMD_EXIT
 }
POPUP "&Rediger" {
  MENUITEM "&Fortryd\tCtrl+Z",  CMD_UNDO
  MENUITEM SEPARATOR
  MENUITEM "&Klip\tCtrl+X",     CMD_CUT
  MENUITEM "K&opier\tCtrl+C",   CMD_COPY
  MENUITEM "Sæt &ind\tCtrl+V",  CMD_PASTE
  MENUITEM "&Slet\tDel",        CMD_DELETE
  MENUITEM SEPARATOR
  MENUITEM "Marker &alt",       CMD_SELECT_ALL
  MENUITEM "&Dato/tid\tF5",     CMD_TIME_DATE
  MENUITEM SEPARATOR
  MENUITEM "Automatisk &linjeskift",    CMD_WRAP
  MENUITEM "&Font...",          CMD_FONT
 }
POPUP "&Søg" {
  MENUITEM "&Søg...",           CMD_SEARCH
  MENUITEM "&Find næste\tF3",   CMD_SEARCH_NEXT
 }
POPUP "&Hjælp" {
  MENUITEM "&About LilyPad...", CMD_HELP_ABOUT_LILYPAD
 }
}

STRINGTABLE DISCARDABLE
{
STRING_LILYPAD, "LilyPad"
STRING_ERROR,                                   "FEJL"
STRING_WARNING,                                 "ADVARSEL"
STRING_INFO,                                    "Information"

STRING_UNTITLED,                                "(ikke-navngivet)"

STRING_ALL_FILES,                               "Alle filer (*.*)"
STRING_LILYPOND_FILES_LY,                  "LilyPond filer (*.ly)"

STRING_TOOLARGE,                                "Filen '%s' er for stor til Notesblok. \
\nBrug en anden editor til at redigere filen."
STRING_NOTEXT,                                  "Du har ikke skrevet noget LilyPond. \
\nSkriv noget LilyPond, og prøv så igen"
STRING_DOESNOTEXIST,                            "File '%s'\ndoes not exist\n\n \
Do you want to create a new file ?"
STRING_NOTSAVED,                                "File '%s'\nhas been modified\n\n \
Would you like to save the changes ?"
STRING_NOTFOUND,                                        "Kan ikke finde '%s'."
STRING_OUT_OF_MEMORY,                   "Der er ikke nok hukommelse til at udføre \
denne operation. \nAfslut et eller flere aktive programmer for at frigøre \
hukommelse, og prøv så igen."

}

#pragma code_page(default)
