/*
 *  LilyPad (Finnish resources)
 *
 *  Copyright 1999 by Jukka Iivonen <iivonen@iki.fi>
 *  Copyright 2002 Sylvain Petreolle <spetreolle@yahoo.fr>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Suite 500, Boston, MA 02110-1335, USA
 */

/* UTF-8 */
#pragma code_page(65001)

LANGUAGE LANG_FINNISH, SUBLANG_DEFAULT

MAIN_MENU MENU
{
 POPUP "&Tiedosto" {
  MENUITEM "&Uusi...",		CMD_NEW
  MENUITEM "&Avaa",		CMD_OPEN
  MENUITEM "Ta&lleta",		CMD_SAVE
  MENUITEM "Talleta &nimellä...",	CMD_SAVE_AS
  MENUITEM SEPARATOR
  MENUITEM "T&ulosta",		CMD_PRINT
  MENUITEM "&Sivun asetukset...",	CMD_PAGE_SETUP
  MENUITEM SEPARATOR
  MENUITEM "&Poistu",		CMD_EXIT
 }
POPUP "&Muokkaa" {
  MENUITEM "&Palauta\tCtrl+Z",	CMD_UNDO
  MENUITEM SEPARATOR
  MENUITEM "&Leikkaa\tCtrl+X",	CMD_CUT
  MENUITEM "&Kopioi\tCtrl+C",	CMD_COPY
  MENUITEM "L&iitä\tCtrl+V",	CMD_PASTE
  MENUITEM "P&oista\tDel",	CMD_DELETE
  MENUITEM SEPARATOR
  MENUITEM "&Valitse kaikki",	CMD_SELECT_ALL
  MENUITEM "&Aika/Päivämäärä\tF5",	CMD_TIME_DATE
  MENUITEM SEPARATOR
  MENUITEM "Ka&tkaise pitkä rivi",	CMD_WRAP
  MENUITEM "&Font...",          CMD_FONT
 }
POPUP "&Etsi" {
  MENUITEM "Etsi...",		CMD_SEARCH
  MENUITEM "Etsi &seuraava\tF3",	CMD_SEARCH_NEXT
 }
POPUP "&Apua" {
  MENUITEM "&About LilyPad...", CMD_HELP_ABOUT_LILYPAD
 }
}

STRINGTABLE DISCARDABLE
{
STRING_LILYPAD, "LilyPad"
STRING_ERROR,					"VIRHE"
STRING_WARNING,					"VAROITUS"
STRING_INFO,					"Tiedoitus"

STRING_UNTITLED,				"(otsikoimaton)"

STRING_ALL_FILES,				"Kaikki tiedostot (*.*)"
STRING_LILYPOND_FILES_LY,			"LilyPondi tiedostot (*.ly)"

STRING_TOOLARGE,				"Tiedosto '%s' on liian suuri.\n \
Please use a different editor."
STRING_NOTEXT,					"Et syöttänyt lainkaan LilyPondiä. \
\nKirjoita jotain ja yritä uudelleen"
STRING_DOESNOTEXIST,				"File '%s'\ndoes not exist\n\n \
Do you want to create a new file ?"
STRING_NOTSAVED,				"File '%s'\nhas been modified\n\n \
Would you like to save the changes ?"
STRING_NOTFOUND,					"'%s' ei löydy."
STRING_OUT_OF_MEMORY,			"Muistia ei ole riittävästi tämän \
\ntehtävän tekemiseksi. Sulje jokin sovellus vapauttaaksesi\n \
muistia."

}

#pragma code_page(default)
