/*
 *  LilyPad (French resources)
 *
 *  Copyright 1997,98 Marcel Baur <mbaur@g26.ethz.ch>
 *  Translation by Laurent Buffler <laurent@bluewin.ch>
 *  Copyright 2002 Sylvain Petreolle <spetreolle@yahoo.fr>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Suite 500, Boston, MA 02110-1335, USA
 */

LANGUAGE LANG_FRENCH, SUBLANG_NEUTRAL

MAIN_MENU MENU
{
 POPUP "&Fichier" {
  MENUITEM "&Nouveau...",       CMD_NEW
  MENUITEM "&Ouvrir\tCtrl+O",   CMD_OPEN
  MENUITEM "&Enregistrer\tCtrl+S", CMD_SAVE
  MENUITEM "Enregistrer &sous...", CMD_SAVE_AS
  MENUITEM SEPARATOR
  MENUITEM "Im&primer",         CMD_PRINT
  MENUITEM "&Mise en page...",  CMD_PAGE_SETUP
  MENUITEM SEPARATOR
  MENUITEM "&Quitter",          CMD_EXIT
 }
POPUP "&Edition" {
  MENUITEM "&Annuler\tCtrl+Z",  CMD_UNDO
  MENUITEM SEPARATOR
  MENUITEM "Co&uper\tCtrl+X",   CMD_CUT
  MENUITEM "&Copier\tCtrl+C",   CMD_COPY
  MENUITEM "C&oller\tCtrl+V",   CMD_PASTE
  MENUITEM "&Effacer\tDel",     CMD_DELETE
  MENUITEM SEPARATOR
  MENUITEM "Tout &sélectionner\tCtrl+A", CMD_SELECT_ALL
  MENUITEM "&Heure/Date\tF5",   CMD_TIME_DATE
  MENUITEM SEPARATOR
  MENUITEM "&Retour à la ligne", CMD_WRAP
  MENUITEM "&Police...",        CMD_FONT
 }
POPUP "&Rechercher" {
  MENUITEM "&Rechercher\tCtrl+F", CMD_SEARCH
  MENUITEM "&Suivant\tF3",      CMD_SEARCH_NEXT
 }
POPUP "&Aide" {
  MENUITEM "&About LilyPad...", CMD_HELP_ABOUT_LILYPAD
 }
}

STRINGTABLE DISCARDABLE
{
STRING_LILYPAD, "LilyPad"
STRING_ERROR,                                   "ERREUR"
STRING_WARNING,                                 "ATTENTION"
STRING_INFO,                                    "Information"

STRING_UNTITLED,                                "(sans-titre)"

STRING_ALL_FILES,                               "Tous fichiers (*.*)"
STRING_LILYPOND_FILES_LY,                          "Fichiers LilyPonde (*.ly)"

STRING_TOOLARGE,                                "Le fichier '%s' est trop grand pour le bloc-notes.\n \
Veuillez utiliser un autre éditeur."
STRING_NOTEXT,                                  "Vous n'avez pas entré de LilyPonde. \
Veuillez taper quelque chose et recommencer"
STRING_DOESNOTEXIST,                            "Le fichier '%s'\nn'existe pas.\n\n \
Voulez-vous créer un nouveau fichier ?"
STRING_NOTSAVED,                                "Le fichier '%s'\na été modifié\n\n \
Voulez-vous enregistrer vos modifications ?"
STRING_NOTFOUND,                                "'%s' non trouvé."
STRING_OUT_OF_MEMORY,                           "Pas assez de mémoire pour compléter cette \
tâche. \nFermez une ou plusieurs applications pour libérer\n\
de la mémoire."

}
