/*
 *  LilyPad (Hungarian resources)
 *
 *  Copyright 1997,98 Marcel Baur
 *  Proofread 1998 by David Lee Lambert
 *  Copyright 2002 Sylvain Petreolle
 *  Copyright 2002 Zoly Nagy
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Suite 500, Boston, MA 02110-1335, USA
 */

/* UTF-8 */
#pragma code_page(65001)

MAIN_MENU MENU LANGUAGE LANG_HUNGARIAN, SUBLANG_DEFAULT
{
 POPUP "&Fájl" {
  MENUITEM "Ú&j",           CMD_NEW
  MENUITEM "Meg&nyitás...",             CMD_OPEN
  MENUITEM "&Mentés",             CMD_SAVE
  MENUITEM "Mentés má&sként...",       CMD_SAVE_AS
  MENUITEM SEPARATOR
  MENUITEM "&Oldalbeállítás...",    CMD_PAGE_SETUP
  MENUITEM "Nyom&tatás...",            CMD_PRINT
  MENUITEM SEPARATOR
  MENUITEM "&Kilépés",             CMD_EXIT
 }
POPUP "S&zerkesztés" {
  MENUITEM "&Visszavonás\tCtrl+Z",     CMD_UNDO
  MENUITEM SEPARATOR
  MENUITEM "Kivá&gás\tCtrl+X",      CMD_CUT
  MENUITEM "&Másolás\tCtrl+C",     CMD_COPY
  MENUITEM "&Beillesztés\tCtrl+V",    CMD_PASTE
  MENUITEM "Tör&lés\tDel",      CMD_DELETE
  MENUITEM SEPARATOR
  MENUITEM "&Az összes kijelölése",       CMD_SELECT_ALL
  MENUITEM "&Idő/dátum\tF5",    CMD_TIME_DATE
  MENUITEM SEPARATOR
  MENUITEM "&Hosszú sorok tördelése",  CMD_WRAP
  MENUITEM "&Font...",          CMD_FONT
 }
POPUP "&Keresés" {
  MENUITEM "&Keresés...",           CMD_SEARCH
  MENUITEM "Köve&tkező keresése\tF3",  CMD_SEARCH_NEXT
 }
POPUP "&Súgó" {
  MENUITEM "&About LilyPad...", CMD_HELP_ABOUT_LILYPAD
 }
}

STRINGTABLE DISCARDABLE LANGUAGE LANG_HUNGARIAN, SUBLANG_DEFAULT
{
STRING_LILYPAD, "LilyPad"
STRING_ERROR,                                   "HIBA"
STRING_WARNING,                                 "FIGYELMEZTETÉS"
STRING_INFO,                                    "Információ"

STRING_UNTITLED,                                "(névtelen)"

STRING_ALL_FILES,                               "Minden fájl (*.*)"
STRING_LILYPOND_FILES_LY,                  "Szövegfájlok (*.ly)"

STRING_TOOLARGE,                                "'%s' fájl túl nagy méretű.\n \
Kérem használjon másik szövegszerkesztő programot."
STRING_NOTEXT,                                  "A szöveg nem tartalmaz karaktert! \
\nKérem gépeljen be néhány karaktert és próbálja újra!"
STRING_DOESNOTEXIST,                            "A megadott '%s'\nfájl nem létezik!\n\n \
Kíván létrehozni új fájlt?"
STRING_NOTSAVED,                                "'%s' fájl\nmódosult\n\n \
Szeretné menteni a változásokat?"
STRING_NOTFOUND,                                        "'%s' nem található!"
STRING_OUT_OF_MEMORY,                   "Nincs elegendő szabad memória!\
\nZárjon be néhány alkalmazást, ezzel növelve a szabad memória méretét\
!"

}

#pragma code_page(default)
