/*
 *  LilyPad (Japanese resources)
 *
 *  Copyright 1997,98 Marcel Baur <mbaur@g26.ethz.ch>
 *  Proofread 1998 by David Lee Lambert <lamber45@egr.msu.edu>
 *  Copyright 2002 Sylvain Petreolle <spetreolle@yahoo.fr>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Suite 500, Boston, MA 02110-1335, USA
 */

/* UTF-8 */
#pragma code_page(65001)

LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT

MAIN_MENU MENU
{
POPUP "ファイル(&F)" {
  MENUITEM "新規作成(&N)\tCtrl+N",           CMD_NEW
  MENUITEM "開く(&O)...\tCtrl+O",     CMD_OPEN
  MENUITEM "保存(&S)\tCtrl+S",     CMD_SAVE
  MENUITEM "名前を付けて保存(&A)...",       CMD_SAVE_AS
  MENUITEM SEPARATOR
  MENUITEM "印刷(&P)...\tCtrl+P",            CMD_PRINT
  MENUITEM "ページ設定(&T)...",    CMD_PAGE_SETUP
  MENUITEM SEPARATOR
  MENUITEM "終了(&X)",             CMD_EXIT
 }
POPUP "編集(&E)" {
  MENUITEM "元に戻す(&U)\tCtrl+Z",     CMD_UNDO
  MENUITEM SEPARATOR
  MENUITEM "切り取り(&T)\tCtrl+X",      CMD_CUT
  MENUITEM "コピー(&C)\tCtrl+C",     CMD_COPY
  MENUITEM "貼り付け(&P)\tCtrl+V",    CMD_PASTE
  MENUITEM "削除(&D)\tDel",      CMD_DELETE
  MENUITEM SEPARATOR
  MENUITEM "すべて選択(&A)\tCtrl+A",       CMD_SELECT_ALL
  MENUITEM "日付と時刻(&T)\tF5",    CMD_TIME_DATE
  MENUITEM SEPARATOR
  MENUITEM "長い行を折り返す(&W)",  CMD_WRAP
  MENUITEM "フォント(&F)...",          CMD_FONT
 }
POPUP "検索(&S)" {
  MENUITEM "検索(&S)...\tCtrl+F",   CMD_SEARCH
  MENUITEM "次を検索(&S)\tF3",  CMD_SEARCH_NEXT
 }
POPUP "ヘルプ(&H)" {
  MENUITEM "LilyPad について(&A)...", CMD_HELP_ABOUT_LILYPAD
 }
}

STRINGTABLE DISCARDABLE
{
STRING_LILYPAD, "LilyPad"
STRING_ERROR,                                   "エラー"
STRING_WARNING,                                 "警告"
STRING_INFO,                                    "情報"

STRING_UNTITLED,                                "(無題)"

STRING_ALL_FILES,                               "全てのファイル (*.*)"
STRING_LILYPOND_FILES_LY,                  "LilyPond ファイル (*.ly)"


STRING_TOOLARGE,                                "ファイル '%s' のサイズは大きすぎるため、LilyPad では編集できません。\n \
別のエディタを使用して下さい。"
STRING_NOTEXT,                                  "何も入力されていません。\
\n何か入力してから実行して下さい。"
STRING_DOESNOTEXIST,                            "ファイル '%s'\nは存在しません\n\n \
新しいファイルを作成しますか ?"
STRING_NOTSAVED,                                "ファイル '%s'\nは変更されています\n\n \
変更を保存しますか ?"
STRING_NOTFOUND,                                        "'%s' は見つかりませんでした"
STRING_OUT_OF_MEMORY,                   "この操作を実行するためのメモリが\
足りません。\nメモリの空きを増やすためにいくつかのアプリケーションを\n終了して\
下さい。"

/* LOGFONT structure value of default font */
STRING_FONT_SIZE	"100"  /* 10.0 pt */
STRING_FONT_WEIGHT	"400"  /* FW_NORMAL */
STRING_FONT_ITALIC	"0"    /* FALSE */
STRING_FONT_CHARSET	"1"    /* DEFAULT_CHARSET */
STRING_FONT_PITCHANDFAMILY "0x01"  /* FIXED_PITCH | FF_DONTCARE */
STRING_FONT_FACENAME	"ＭＳ ゴシック"
}

#pragma code_page(default)
