/*
 *  LilyPad (Polish resources)
 *
 *  Copyright 1997,98 Marcel Baur <mbaur@g26.ethz.ch>
 *  Proofread 1998 by David Lee Lambert <lamber45@egr.msu.edu>
 *  Copyright 2002 Sylvain Petreolle <spetreolle@yahoo.fr>
 *  Copyright 2004 Jacek Caban <jack@itma.pwr.wroc.pl>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 */

LANGUAGE LANG_POLISH, SUBLANG_DEFAULT

MAIN_MENU MENU
{
 POPUP "&Plik" {
  MENUITEM "&Nowy...",           CMD_NEW
  MENUITEM "&Otwórz\tCtrl+O",     CMD_OPEN
  MENUITEM "&Zapisz\tCtrl+S",     CMD_SAVE
  MENUITEM "Z&apisz jako...",       CMD_SAVE_AS
  MENUITEM SEPARATOR
  MENUITEM "&Drukuj",            CMD_PRINT
  MENUITEM "&Ustawienia strony...",    CMD_PAGE_SETUP
  MENUITEM SEPARATOR
  MENUITEM "Zakoñ&cz",             CMD_EXIT
 }
POPUP "&Edycja" {
  MENUITEM "&Cofnij\tCtrl+Z",     CMD_UNDO
  MENUITEM SEPARATOR
  MENUITEM "&Wytnij\tCtrl+X",      CMD_CUT
  MENUITEM "&Kopiuj\tCtrl+C",     CMD_COPY
  MENUITEM "Wkl&ej\tCtrl+V",    CMD_PASTE
  MENUITEM "&Usuñ\tDel",      CMD_DELETE
  MENUITEM SEPARATOR
  MENUITEM "Zaznacz w&szystko\tCtrl+A",       CMD_SELECT_ALL
  MENUITEM "Godzina/&Data\tF5",    CMD_TIME_DATE
  MENUITEM SEPARATOR
  MENUITEM "&Zawijanie wierszy",  CMD_WRAP
  MENUITEM "Czci&onka...",          CMD_FONT
 }
POPUP "&ZnajdŸ" {
  MENUITEM "&ZnajdŸ\tCtrl+F",   CMD_SEARCH
  MENUITEM "Z&najdŸ nastêpny\tF3",  CMD_SEARCH_NEXT
 }
POPUP "Pomo&c" {
  MENUITEM "&About LilyPad...", CMD_HELP_ABOUT_LILYPAD
 }
}

STRINGTABLE DISCARDABLE
{
STRING_LILYPAD, "LilyPad"
STRING_ERROR,                                   "B£¥D"
STRING_WARNING,                                 "OSTRZE¯ENIE"
STRING_INFO,                                    "Informacja"

STRING_UNTITLED,                                "(bez tytu³u)"

STRING_ALL_FILES,                               "Wszystkie piki (*.*)"
STRING_LILYPOND_FILES_LY,                  "Pliki LilyPondowe (*.ly)"

STRING_TOOLARGE,                                "Plik '%s' jest za du¿y dla notatnika.\n \
Proszê u¿yæ innego edytora."
STRING_NOTEXT,                                  "Nie wprowadzi³eœ ¿adnego LilyPondu. \
\nProszê coœ wpisaæ i spróbowaæ ponownie."
STRING_DOESNOTEXIST,                            "Plik '%s' nie istnieje\n\n \
Czy chcesz utworzyæ nowy plik ?"
STRING_NOTSAVED,                                "Plik '%s'\nzosta³ zmodyfikowany\n\n \
Czy chcesz zachowaæ zmiany ?"
STRING_NOTFOUND,                                        "Nie mo¿na odnaleŸæ '%s'."
STRING_OUT_OF_MEMORY,                   "Za ma³o pamiêci do wykonania tego zadania.\n \
Zamknij jedn¹ lub wiêcej aplikacji aby zwiêkszyæ iloœæ wolnej pamiêci."

}
