/*
 *  LilyPad (Slovak resources)
 *
 *  Copyright 1997,98 Marcel Baur <mbaur@g26.ethz.ch>
 *  Proofread 1998 by David Lee Lambert <lamber45@egr.msu.edu>
 *  Copyright 2002 Sylvain Petreolle <spetreolle@yahoo.fr>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 */

/* UTF-8 */
#pragma code_page(65001)

LANGUAGE LANG_SLOVAK, SUBLANG_DEFAULT

MAIN_MENU MENU
{
 POPUP "&File" {
  MENUITEM "&New...",		CMD_NEW
  MENUITEM "&Open",		CMD_OPEN
  MENUITEM "&Save",		CMD_SAVE
  MENUITEM "Save &as...",	CMD_SAVE_AS
  MENUITEM SEPARATOR
  MENUITEM "&Print",		CMD_PRINT
  MENUITEM "Page Se&tup...",	CMD_PAGE_SETUP
  MENUITEM SEPARATOR
  MENUITEM "&Exit",		CMD_EXIT
 }
POPUP "&Edit" {
  MENUITEM "&Undo\tCtrl+Z",	CMD_UNDO
  MENUITEM SEPARATOR
  MENUITEM "Cu&t\tCtrl+X",	CMD_CUT
  MENUITEM "&Copy\tCtrl+C",	CMD_COPY
  MENUITEM "&Paste\tCtrl+V",	CMD_PASTE
  MENUITEM "&Delete\tDel",	CMD_DELETE
  MENUITEM SEPARATOR
  MENUITEM "Select &all",	CMD_SELECT_ALL
  MENUITEM "&Time/Date\tF5",	CMD_TIME_DATE
  MENUITEM SEPARATOR
  MENUITEM "&Wrap long lines",	CMD_WRAP
  MENUITEM "&Font...",          CMD_FONT
 }
POPUP "&Search" {
  MENUITEM "&Search", CMD_SEARCH
  MENUITEM "&Search next\tF3",	CMD_SEARCH_NEXT
 }
POPUP "&Help" {
  MENUITEM "&About LilyPad...", CMD_HELP_ABOUT_LILYPAD
 }
}

STRINGTABLE DISCARDABLE
{
STRING_LILYPAD, "LilyPad"
STRING_ERROR,					"ERROR"
STRING_WARNING,					"WARNING"
STRING_INFO,					"Information"

STRING_UNTITLED,				"(untitled)"

STRING_ALL_FILES,				"All files (*.*)"
STRING_LILYPOND_FILES_LY,			"LilyPond files (*.ly)"

STRING_TOOLARGE,				"File '%s' is too large for lilypad.\n \
Please use a different editor."
STRING_NOTEXT,					"You didn't enter any LilyPond. \
\nPlease type something and try again"
STRING_DOESNOTEXIST,				"File '%s'\ndoes not exist\n\n \
Do you want to create a new file ?"
STRING_NOTSAVED,				"File '%s'\nhas been modified\n\n \
Would you like to save the changes ?"
STRING_NOTFOUND,					"'%s' can not be found."
STRING_OUT_OF_MEMORY,			"Not enough memory to complete this \
task. \nClose one or more applications to increase the amount of \nfree \
memory."

}

#pragma code_page(default)
