/*
 *  LilyPad (Swedish resources)
 *
 *  Copyright 1997,98 Marcel Baur <mbaur@g26.ethz.ch>
 *  Proofread 1998 by David Lee Lambert <lamber45@egr.msu.edu>
 *  Copyright 2002 Sylvain Petreolle <spetreolle@yahoo.fr>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 */

/* UTF-8 */
#pragma code_page(65001)

LANGUAGE LANG_SWEDISH, SUBLANG_DEFAULT

MAIN_MENU MENU
{
 POPUP "&Arkiv" {
  MENUITEM "&Ny...",            CMD_NEW
  MENUITEM "Ö&ppna",            CMD_OPEN
  MENUITEM "&Spara",            CMD_SAVE
  MENUITEM "Spara &som...",     CMD_SAVE_AS
  MENUITEM SEPARATOR
  MENUITEM "&Skriv ut",         CMD_PRINT
  MENUITEM "Sid La&yout...",    CMD_PAGE_SETUP
  MENUITEM SEPARATOR
  MENUITEM "&Avsluta",          CMD_EXIT
 }
POPUP "&Redigera" {
  MENUITEM "&Undo\tCtrl+Z",     CMD_UNDO
  MENUITEM SEPARATOR
  MENUITEM "Klippa\tCtrl+X",    CMD_CUT
  MENUITEM "&Kopiera\tCtrl+C",  CMD_COPY
  MENUITEM "&Klistra in\tCtrl+V",       CMD_PASTE
  MENUITEM "&Ta bort\tDel",     CMD_DELETE
  MENUITEM SEPARATOR
  MENUITEM "Markera &allt",     CMD_SELECT_ALL
  MENUITEM "&Tid/Datum\tF5",    CMD_TIME_DATE
  MENUITEM SEPARATOR
  MENUITEM "&Dela långa meningar",      CMD_WRAP
  MENUITEM "&Font...",          CMD_FONT
 }
POPUP "&Sök" {
  MENUITEM "Sök...",            CMD_SEARCH
  MENUITEM "&Sök nästa\tF3",    CMD_SEARCH_NEXT
 }
POPUP "&Hjälp" {
  MENUITEM "&About LilyPad...", CMD_HELP_ABOUT_LILYPAD
 }
}

STRINGTABLE DISCARDABLE
{
STRING_LILYPAD, "LilyPad"
STRING_ERROR,                                   "FEL"
STRING_WARNING,                                 "WARNING"
STRING_INFO,                                    "Information"

STRING_UNTITLED,                                "(untitled)"

STRING_ALL_FILES,                               "Alla filer (*.*)"
STRING_LILYPOND_FILES_LY,                  "LilyPond filer (*.ly)"

STRING_TOOLARGE,                                "Filen '%s' är för stor för lilypad.\n \
Använd en annan editor."
STRING_NOTEXT,                                  "Du skrev inte in någon LilyPond. \
\nSkriv något och försök sedan igen"
STRING_DOESNOTEXIST,                            "File '%s'\ndoes not exist\n\n \
Do you want to create a new file ?"
STRING_NOTSAVED,                                "File '%s'\nhas been modified\n\n \
Would you like to save the changes ?"
STRING_NOTFOUND,                                        "'%s' hittades inte."
STRING_OUT_OF_MEMORY,                   "Inte tillräkligt med minne för att slutföra \
den här uppgiften. \nAvsluta ett eller flera program för att öka mängden \nfritt \
minne."

}

#pragma code_page(default)
