/*
 *  LilyPad (Thai Resources)
 *
 *  Copyright 2003 Jon Griffiths
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 */

LANGUAGE LANG_THAI, SUBLANG_DEFAULT

MAIN_MENU MENU
{
 POPUP "แฟ้ม" {
  MENUITEM "สร้างใหม่...",        CMD_NEW
  MENUITEM "เปิด...\tCtrl+O",   CMD_OPEN
  MENUITEM "บันทืก\tCtrl+S",     CMD_SAVE
  MENUITEM "บันทืกเป็น...",       CMD_SAVE_AS
  MENUITEM SEPARATOR
  MENUITEM "พิมพ์",            CMD_PRINT
  MENUITEM "ปรับแต่งหน้า...",    CMD_PAGE_SETUP
  MENUITEM "ปรับแต่งเครื่องพิมพ์...", CMD_PRINTER_SETUP
  MENUITEM SEPARATOR
  MENUITEM "ออก",             CMD_EXIT
 }
 POPUP "แก้ไข" {
  MENUITEM "เรียกคืน\tCtrl+Z",     CMD_UNDO
  MENUITEM SEPARATOR
  MENUITEM "ตัด\tCtrl+X",      CMD_CUT
  MENUITEM "ตัดลอก\tCtrl+C",     CMD_COPY
  MENUITEM "วาง\tCtrl+V",    CMD_PASTE
  MENUITEM "ลบ\tDel",      CMD_DELETE
  MENUITEM SEPARATOR
  MENUITEM "เลือกทั้งหมด\tCtrl+A",       CMD_SELECT_ALL
  MENUITEM "วันที่/\tF5",    CMD_TIME_DATE
  MENUITEM SEPARATOR
  MENUITEM "ห่อบรรทัดยาว",  CMD_WRAP
  MENUITEM "รูปแบบดัวอักษร...",          CMD_FONT
 }
 POPUP "คันหา" {
  MENUITEM "ค้นหา\tCtrl+F",   CMD_SEARCH
  MENUITEM "ค้นหาต่อไป\tF3",  CMD_SEARCH_NEXT
 }
 POPUP "ช่วยเหลีอ" {
  MENUITEM "&About LilyPad...", CMD_HELP_ABOUT_LILYPAD
 }
}

STRINGTABLE DISCARDABLE
{
STRING_LILYPAD, "LilyPad"
STRING_ERROR,         "ความปิด"
STRING_WARNING,       "คําตือน"
STRING_INFO,          "รายละเอียด"

STRING_UNTITLED,      "ไม่กําหนดชึ่อ"

STRING_ALL_FILES,       "ทุกแฟ้ม (*.*)"
STRING_LILYPOND_FILES_LY,  "แฟ้มตํารา (*.ly)"

STRING_TOOLARGE,  "แฟ้ม '%s' ใหญ่เกินไป"
STRING_NOTEXT,    "คุณไม่ใดเขียนอะไร\nกรุณาลองใหม่"
STRING_DOESNOTEXIST, "ไม่พบแฟ้ม '%s' ที่ต้องการเปิด\nคุณต้องการสร้างใหม่ไม่ ?"
STRING_NOTSAVED,  "มีการเปลี่ยนแปลงกับเอกสาร\n\n'%s'\n\nคุณต้องการบันทึกมันหรือไม่ ?"
STRING_NOTFOUND,  "ไม่พบข้อความ '%s' ที่ต้องการค้นหา"
STRING_OUT_OF_MEMORY, "ความจําหมด\nกรุณาลองใหม่"

}
