#*
*.orig
*.patch
*.rej
*~
.#*
.bash_mknetrel
CVS
CYGWIN-PATCHES
GNUmakefile
MINGW-PATCHES
Make.rules.in
Makefile
Makefile.in
Makeprog.rules.in
aclocal.m4
autom4te.cache
config.h.in
configure
libltdl
ltmain.sh
mingw
missing
notepad.exe.dbg.c
rsrc.res
